@charset "utf-8";
/* CSS Document */

body {
    font-family:Montserrat, "Yu Gothic Medium", "Corbel Regular", Gadugi, "DejaVu Sans",  Verdana, "sans-serif";
    text-align:center;
    background-color:black;
    color:white;
}

header{
    background-image:url(../images/BackAbstr.png);
    background-repeat:no-repeat;
    background-size:cover;
	border-bottom:solid #06003D;
	padding:5%;
}

#titleForOffset{
	padding:5%;
}

header h1{
    font-size:64px;
}

h1{
	text-shadow:3px 3px 5px black;
}

h2{
    font-size:36px;
	text-shadow:3px 3px 5px black;
}

#Serverinfo{
	text-align:right;
}

a:hover{
	text-decoration:none;
	color:white;
}

nav{
    background-color:black;
	overflow:visible;
	position:sticky;
	top:0;
}

nav li{
	display:inline-flex;
    text-align:left;
    padding:0.5% 2%;
}

li a{
    font-size:24px;
    border-block-color:red;
    color:white;
    text-align:left;
    text-decoration:none;
    transition-duration:0.2s;
}

li a:hover{
	font-size: 28px;
	color:blue;
    transition-duration:0.2s;
}

#MusicBanner {
    background-image: url(../images/BackAbzen.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
	border:none #06003D;
    padding: 0%;
    transition-duration: 0.2s;
}

#MusicBanner:hover{
    padding:3%;
    transition-duration:0.2s;
    cursor:pointer;
	border-top:solid #06003D;
	border-bottom:solid #06003D;
}

#MusicBannerText{
    text-align:left;
    padding:5% 5% 5% 30%;
}

#CGBanner {
    background-image: url(../images/KirbyArt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position:top;
	border:none #06003D;
    padding: 0%;
    transition-duration: 0.2s;
}

    #CGBanner:hover {
        padding:3%;
        transition-duration: 0.2s;
        cursor: pointer;
		border-top:solid #06003D;
		border-bottom:solid #06003D;
    }

#CGBannerText {
    text-align: right;
    padding: 5% 30% 5% 5%;
}

#ModBanner {
    background-image: url(../images/BackSource.png);
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
	border:none #06003D;
	border-radius:0%;
    padding: 0%;
    transition-duration: 0.2s;
}

    #ModBanner:hover {
        padding: 3%;
        transition-duration: 0.2s;
        cursor: pointer;
		border-top:solid #06003D;
		border-bottom:solid #06003D;
    }

#ModBannerText {
    text-align: left;
    padding: 5% 5% 5% 30%;
}

#ETCBanner{
    background-image: url("../images/ueblueprints.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center;
	border:none #06003D;
	border-radius:0%;
    padding: 0%;
    transition-duration: 0.2s;
}

    #ETCBanner:hover {
        padding: 3%;
        transition-duration: 0.2s;
        cursor: pointer;
		border-top:solid #06003D;
		border-bottom:solid #06003D;
    }

#ETCText {
    text-align: right;
    padding: 5% 30% 5% 5%;
}

a{
	text-decoration:none;
	color:white;
}

#codZombiesTitle{
	background-image:url(../images/BackSource.png);
	background-position:center;
	background-size:cover;
	text-align:left;
	padding:5%;
}

.reviews{
	background-color:white;
	color:black;
}

#footerSafeArea{
	font-size:32px;
	text-align:center;
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:black;
	z-index:1;
}

#footerSafeArea:hover{
	font-family:Comic Sans MS;
}

.sticky{
	position: sticky;
	potition: -webkit-sticky;
	top:0;
}

#offguard{
	
}