@charset "utf-8";
/* CSS Document */

body{
	background-color:black;
	color:white;
	font-family:'Quicksand', sans-serif;
	text-align:center;
}

a{
	color:#ABFFA8;
	text-decoration:none;
	transition-duration:0.3s;
}

a:hover{
	color:white;
	text-decoration:none;
	transition-duration:0.1s;
}

header{
	padding:5%;
	border-bottom:solid green;
	background-color:#000200;
	background-image:url("../images/background_header.png");
	background-attachment:fixed;
	background-size:cover;
}

header img{
	mix-blend-mode:screen;
}

h1{
	font-family:'Rubik 80s Fade', sans-serif;
	font-size: 72px;
}

video{
	mix-blend-mode: screen;
}

footer{
	border-top:solid green;
	background-color:#000200;
	background-image:url("../images/background_header.png");
	background-attachment:fixed;
	background-size:cover;
	background-position:bottom;
}

#Creator{
	background-color:#001501;
}

.avatarMargin{
	margin:auto;
}

.result img{
	position:absolute;
	top:0px;
	left:0px;
	max-width:50vw;
	max-height:100%;
	padding-left:15%;
}

.result{
	height:12vh;
}

.hide{
	display:none;
}

.inline{
	display:inline;
}

button{
	background-color:#001501;
	border:solid #ABFFA8;;
	color:#ABFFA8;;
	border-radius:15px;
	font-size:25px;
	padding:2%;
	transition-duration:0.4s;
}

button:hover{
	background-color:#ABFFA8;;
	border:solid #ABFFA8;;
	color:black;
	transition-duration:0.2s;
}

button:active{
	color:#A3FFE3;
	background-color:#001501;
	border:solid #A3FFE3;
	transition-duration:0.1s;
}

@media only screen and (max-width:1250px){
	header img, header video{
		max-width:150px;
	}
	
	.result img{
		position:absolute;
		top:0px;
		max-width:100vw;
	}
	
	.avatarMargin{
		margin:0;
	}
	
	.result{
		height:5vh;
	}
}