@charset "utf-8";
/* CSS Document */

/****************************header area****************************/
/*for the header - background colour, padding, center align text*/
header{
	background-color: #592026;
	text-align: center;
	/*padding shortcut works the same as margin - tb rl*/
	padding:30px 0px;
	color:white;
}


/****************************sections****************************/
section{
	/*all the default styles for all sections*/
	background-color:#4A4D51;
	color: white;
	max-width: 1200px;
	margin:0 auto;
	padding: 2%;
	/*This will make the section the size of all content inside.*/
	overflow:hidden;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
/*override with ID*/
.alternate{
	background-color: #474041;
}

/*The image tag should float*/
section img{
	float: left;
	/*Random Comment*/
	margin-right:3%;
}

footer{
	background-color: #552324;
	text-align: center;
	color:white;
	padding: 2%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

a:link{
	color:white;
	font-family: 36px "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-decoration:none;
}

/*Button Styling*/
button{
	background-color:white;
	padding:1% 2%;
	font-size: 48px;
	cursor:progress;
	color:black;
	border:solid white;
    transition-duration: 0.5s;
	text-align:center;
}

button:hover{
	border:solid white;
	background-color:#474041;
	color:white;
	transition-duration: 0.5s;
}
button:active{
	transition-duration:0.2s;
	padding:0%;
	text-align:center;
}

nav{
	word-spacing:15px;
}

nav ul{
	/*Removes the dots*/
	list-style-type: none;
	display:block;
	padding: 1%;
	overflow:hidden;
	background-color:#333;
}

nav li{
	float:left;
	
}

nav li a{
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
}

nav li a:hover{
	font-family: bold "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color:black;
	transition-duration:0.2s;
}


/*Make a class that adds the sticky-ness to the header/nav bar*/

.sticky{
	position: -webkit-sticky;
	position: sticky;
	top:0;
}




